*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    color: white;
    padding: 1em;
    text-align: center;
}
header img{
    width: 20%;
}
h1{
    font-size: 25px;
    text-align: center;
    color: rgb(187, 83, 151);
    letter-spacing: 15px;
    font-weight: 100px;
}
img.pop-century{
    text-align: right;
}